body  {
      width: 600px;
      margin: 0 auto;
      font-family: 'Lucida Sans';
      color: #000000;

}



header {
    border-bottom: solid 6px #333333;
    line-height: 80px;
    text-align: center;
    background-color: #151515;
    margin-bottom: 40px;
}


h2   {
    border-bottom: #7b7b7b 2px solid;
    text-align: center;
}


h3    {
    color: #1577ff;
    border-bottom: #1577ff 2px solid;
    display: inline;
}


.story, .workExperience, .skills {
    padding-top: 10px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 40px;
    background-color: #ffd8d6;
}
 


.story img {
  align-content: center;
}

a     {
    color: #0084ff;
}


a:hover   {

    text-decoration: underline;
}


footer {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 10px;
}


footer img {
    width: 150px;
}


.workExperience footer p {
    font-style: italic;
}
