body  {
    width: 500px;
    font-family: 'Lucida Sans';
}

header {
    border-top: solid 10px #000000;
    border-bottom: solid 1px #000000;
    text-align: left;
}

p, dl  {
    margin-left: 20px;
}


h2   {
    border-bottom: #7b7b7b 2px solid;
    text-align: left;
}


h3    {
    margin-left: 10px;
    color: #1577ff;
    border-bottom: #1577ff 2px solid;
    display: inline;
}


h4 {
    margin-left: 10px;
    display: inline;
}


.introduction {
    align-content: center;
}


.introduction, .workExperience, .skillsEducation, .references {
    margin-bottom: 50px;
}
 

footer {
    text-align: center;
}
